<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Extract Metadata From PDF Files</h1>

     <!-- Main Input For Receiving Query -->
    <form action="{{ url_for('extract')}}"method="post">
    	<input type="text" name="path to folder containing pdf files" placeholder="Path" required="required" />
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Extract Metadata</button>
    </form>

   <br>
   <br>
   {{ metadata_text }}

 </div>


</body>
</html>